# atcoder/*
# !atcoder/compete.toml
# !atcoder/rust-toolchain
atcoder/*/target/**
atcoder/*/testcases/**


codeforces/*
!codeforces/compete.toml
!codeforces/rust-toolchain
yukicoder/*
!yukicoder/compete.toml
!yukicoder/rust-toolchain
# aoj/*
# !aoj/compete.toml
# !aoj/rust-toolchain
